/A.class
/B.class
/Boundmain.class
/Bounds.class
/C.class
/Hai.class
/Hello.class
/MapSolution.class
/MapSolution1.class
/Oddsum.class
/Pokemon.class
/PokemonComparator.class
/Printer.class
/SortStudent.class
/Sortpokemen.class
/Sortwords.class
/Stmt.class
/Student.class
/StudentSorter.class
/Vowel$1.class
/Vowel.class
/Vowel2.class
/Vowel3.class
/Vowelcount.class
/ex1.class
/HelloTest.class
