/BoundmainTest.class
/MapSolution1Test.class
/MapSolutionTest.class
/OddsumTest.class
/PokemonComparatorTest.class
/StmtTest.class
/Testsuite.class
/Vowel2Test.class
/Vowel3Test.class
/VowelTest.class
